<?xml version="1.0" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

	<xacro:property name="deg" value="0.017453293" /> <!--degrees to radians-->
	
	<xacro:macro name="dual_manipulator" params="prefix">
	
	<xacro:include filename="$(find motoman_sia5d_support)/urdf/sia5d_macro.xacro"/> 
  
  <link name="base_link">
    <visual>
      <geometry>
        <box size="0.6 1.6 0.1"/>
      </geometry>
    </visual>
	  </link>
	</xacro:macro>
	
	<xacro:motoman_sia5d prefix = "bla"/>
	
</robot>

